<% provide(:title, "Log in") %>
<div class="form-container">
<h1 class="my-1">Log In</h1>

  <div class = "col-md-12">
    <%= form_for(:session , url: login_path) do |f| %>
      <div class = "row my-1">
        <div class="form-group">
          <%= f.label :email ,"Email", class:"col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.email_field :email, class: 'form-control', placeholder: "Enter Your Email Username", value: cookies[:user_email]%>
          </div>
        </div>
      </div>

      <div class = "row my-1">
        <div class="form-group">
          <%= f.label :password ,"Password", class:"col-sm-2 col-form-label" %>
          <div class="col-sm-10">
            <%= f.password_field :password, class: 'form-control', placeholder: "Enter Your Password", value: cookies[:user_password] %>
          </div>
        </div>
      </div>

      <div class = "row my-1">
        <%= f.label :remember_me, class:"checkbox inline" do %>
        <div class="col-sm-7">
          <%= f.check_box :remember_me %>
          <span>Remember Me</span>
        <% end %>
        </div>
      </div>
        
          
      

      <div class = "row my-1">
        <div class = "col-md-10 pull-right">
          <%= f.submit "Login", class: "btn btn-success"%>
        </div>
      </div>
    <% end %>
    <div class = "row my-1">
      <p class = "col-md-3 pull-right">
        <%= link_to "Register Here", signup_path %>
      </p>
    </div>
  </div>
</div>
