<% provide(:title ,'My Comments') %>
<div class="col-sm-12 pb-5">
  <h4 class="card-title">My comments</h4>
  <% if @my_comments.exists? %>
  <% @my_comments.each do |comment| %>
      <div class="well mb-5">
        <div class="media-body">
          <div>
            <p> You commented:<%=  raw comment.content %></p>
            <p>to <%= link_to get_post(comment.post_id).title, get_post(comment.post_id) %></p>
          </div>
          <div class="col-sm-2 pull-right">
            <i class="glyphicon glyphicon-calendar"></i>
            <%= comment.created_at %>
          </div>
        </div>
      </div>
  <% end %>
  <% else %>
  <p>You have not made any comments to any posts yet.</p>
  <% end %>
  <%= will_paginate @my_comments %>

</div>
<div class="col-sm-12 pb-5">
  <h4 class="card-title">My comments to other user's comments</h4>
  <% if @my_comments_to_comments.exists? %>
  <% @my_comments_to_comments.each do |comment| %>
      <div class="well mb-5">
        <div>
          <div class="media-body">
              <div class="col-sm-8">
                <p>You commented:<%= raw comment.content %></p>
                <p>To:<%= raw get_comment(comment.comment_id).content %></p>
                <p>In: <%= link_to get_post(get_comment(comment.comment_id).post_id).title, get_post(get_comment(comment.comment_id).post_id), class:"custom-highlight" %></p>
              </div>
              <div class="col-sm-2 pull-right">
                <i class="glyphicon glyphicon-calendar"></i>
                <%= comment.created_at %>
              </div>
          </div>
        </div>
      </div>
  <% end %>
   <% else %>
  <p>You have not comment to any comments yet</p>
  <% end %>
  <%= will_paginate @my_comments_to_comments %>
</div>
