<% provide(:title ,"New Post") %>
<script src="https://cdn.tiny.cloud/1/q0qojxqy4nf6pkdydh61n6ighpg3amfqxzr6ek3gc9o8gcdn/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
   $(document).on('turbolinks:load', function () {
     tinymce.init({
     selector: '.tinymce',
     height: 500,
     menubar: false,
     plugins: [
       'advlist autolink lists link image charmap print preview anchor',
       'searchreplace visualblocks code fullscreen',
       'insertdatetime media table paste code help wordcount'
     ],
       toolbar: 'undo redo | formatselect | ' +
       ' bold italic backcolor | alignleft aligncenter ' +
       ' alignright alignjustify | bullist numlist outdent indent | ' +
       ' removeformat | help'
   });
});

</script>

<div class="post-container">

  <h4 class="post-title my-2">Post</h4>

  <%= render'shared/post_error' %>

  <%# form for new post %>
  <%= form_for(@post) do |f| %>
    <div class="input-group my-2" style="width:25%">
      <div class="input-group-addon">
        <span class="input-group-text">Topic</span>
      </div>
        <%= f.collection_select :topic_id, Topic.all,:id,:name,{prompt:"==Select=="}, {class: "form-control"} %>
    </div>

    <div class="input-group my-2" style="width:50%">
      <div class="input-group-addon">
        <span class="input-group-text">Title</span>
      </div>
        <%= f.text_field :title,  class: 'form-control', placeholder: 'Enter post title here' %>
    </div>

    <div class="form-group">
      <%= f.text_area :content, placeholder: 'Enter Your Post Here', class: "tinymce" %>
    </div>

    <div class="row my-4">
      <div class="form-group">
        <div class="col-sm-2">
          <%= f.submit "Post" ,class: 'btn btn-success'%>
        </div>
        <div class="col-sm-2">
          <a href = "/index", class="btn btn-light">Cancel</a>
        </div>
      </div>
    </div>

  <% end %>

</div>
